<div class="contanier_big-card">
  <div class="big-card__img">
    <img src="../../../assets/placeholder.jpg"
    alt=""
    height="300px"
    width="450px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Notícia</a></h1>
  </div>
  <div class="big-card__description">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt leo sed mauris cursus, in vestibulum nisl aliquam. Phasellus porta lacus elit, vel scelerisque ex consequat vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec tincidunt ligula vel laoreet tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut commodo volutpat nulla, viverra condimentum odio tempus vel. Aliquam ultrices lorem nec enim malesuada, ut porta ex dignissim.</p>
  </div>
</div>
